/* The layout of this CSS document is based on each of the 5 main
rows of index.html with styles specific to each one of the rows 
being placed together (The rows are referred to as first-container, 
second-container, third-container, etc).

Styles that influence multiple rows, or sections of the page, are
placed at the top of this document, under "cross-page styles". */

/* Start of cross-page styles */
body {
    margin: 0px;
}

.secondary-text {
    /* Used for secondary text, header link text */
    color: #E5E7EB;
    font-size: 18px;
}

button,
.banner {
    background-color:#3882F6;
    border-radius: 8px;
    padding: 10px 35px 10px 35px;
    color: #F9FAF8;
    cursor: pointer;
}
/* End of cross-page styles */

/* Start of container styles */
/* Start of first container styles, including elements */
.first-container {
    background-color: #1F2937;
    color: #f8f8fa;
    min-height: 510px;
    display: flex;
    justify-content: center;
}

.first-container-box {
    width: 940px;
}

.first-container-box > div {
    display: flex;
}

.first-container-row1 {
    justify-content: space-between;
    margin: 20px 0px 110px 0px;
}

.first-container-row1-column1 {
    font-size: 24px;
}

.first-container-row1-column2 a{
    color: #e5e7eb;
    font-size: 18px;
    margin-left: 10px;
    text-decoration: none;
}

.first-container-row2-column1 > .special-font {
    font-size: 48px;
    font-weight:bolder;
}

.first-container-row2-column1 > button {
    border-style: hidden;
    margin-top: 7px;
}

.first-container-row2-column2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6f7781;
    color:#F9FAF8;
    height: 230px;
    width: 1020px;
    margin-left: 50px;
}
/* End of first container styles, including elements */

/* Second container including elements */
.second-container {
    height: 500px;
    display: flex;
    flex-direction: column;
}

.information-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 45px;
    text-align: center;
}

.image-box2-container {
    width: 700px;
    display: flex;
    align-self: center;
    justify-content: space-around;
}

.image-box2 {
    border: 3px solid #3882F6;
    border-radius: 10px;
    margin: 5px;
    background-color: #ffffff;
    width: 135px;
    height: 135px;
}

.image-box2-caption-container {
    width: 700px;
    display: flex;
    align-self: center;
    justify-content: space-around;
}

.image-box2-caption {
    width: 135px;
    font-size: 16px;
    margin: 5px;
    color: #252525;
    text-align: center;
}
/* End of second container including elements */

/* Start of third container including elements */
.third-container {
    background-color: #E5E7EB;
    min-height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-container-item {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.third-container-item > div {
    align-self: flex-end;
}

.third-container-item > *:nth-child(1) {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.third-container-item > *:nth-child(2) {
    font-size: 20px;
    color: #000000;
    font-weight: bolder;
}
/* End of third container including elements */

/* Start of fourth container including elements */
.fourth-container {
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    min-height: 130px;
    min-width: 870px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-logo-text {
    font-size: 24px;
}

.button2 {
    border: 2px solid #ffffff;
}
/* End of fourth container including elements */

/* Start of fifth container including elements */
.fifth-container {
    background-color: #1F2937;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End of fifth container including elements */

/* End of container styles */